<script>
  import {
    Carousel,
    CarouselControl,
    CarouselIndicators,
    CarouselItem
  } from 'sveltestrap';

  const items = [
    'http://wallpaperheart.com/wp-content/uploads/2018/08/pc-wallpaper-hd-1080p-4.jpg',
    'https://3.bp.blogspot.com/-G5DJTeTqG_k/UUdDHsLgEGI/AAAAAAAALZw/lB12ysGgasw/s1600/Tokyo.jpg',
    'https://2.bp.blogspot.com/-WURfoxjdnro/UUmh1cKhQeI/AAAAAAAALb4/gKCqPLzwgsk/s1600/athens.jpg'
  ];
  let activeIndex = 0;
</script>

<Carousel {items} bind:activeIndex>
  <CarouselIndicators bind:activeIndex {items} />

  <div class="carousel-inner">
    {#each items as item, index}
      <CarouselItem bind:activeIndex itemIndex={index}>
        <img src={item} class="d-block w-100" width="450" height="450" alt={`${item} ${index + 1}`} />
      </CarouselItem>
    {/each}
  </div>

  <CarouselControl direction="prev" bind:activeIndex {items} />
  <CarouselControl direction="next" bind:activeIndex {items} />
</Carousel>