<script>
import Carousel from "./carousel/carousel.svelte";
import Nav from "./nav/nav.svelte";
import Sveltestrap from "./sveltestrap/sveltestrap.svelte";

</script>

<main>
<Sveltestrap/>
<Carousel/>
<Nav/>
</main>

<style>

</style>