<script>
    import {
      Button,
      Card,
      CardBody,
      CardFooter,
      CardHeader,
      CardSubtitle,
      CardText,
      CardTitle
    } from 'sveltestrap';

    import { Icon } from 'sveltestrap';
  </script>
  
  <Card body color="info" class="mb-3">
    <CardHeader>
      <CardTitle>
        <h3> <Icon name="person-fill"/> Annisa Puji Lestari</h3> </CardTitle>
    </CardHeader>
    <CardBody>
      <CardSubtitle>Profile</CardSubtitle>
      <CardText>
        Selamat Belajar Svelte
      </CardText>
    </CardBody>
  </Card>