<footer class="bg-primary text-white text-center fixed-bottom">
    <div class="py-2"> 
        Latihan Svelte: <a class="text-white" href="https://sveltestrap.js.org">Sveltestrap</a>
    </div>

</footer>